DEBUG=on
SECRET_KEY="django-insecure-w44c3#7#$$4re4%n9deotd%5)+swx_e45ac9@nyeamu9_puf9v"
ALLOWED_HOSTS=localhost,127.0.0.1
# DATABASE_URL=postgres://user:password@127.0.0.1:5432/my_db
DATABASE_URL=sqlite:///db.sqlite3
